@font-face {
  font-family: DanaRegular;
  src: url(Fonts/Dana-Regular.woff);
}

@font-face {
  font-family: DanaBold;
  src: url(Fonts/Dana-Bold.woff);
  font-weight: bold;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  font-family: DanaRegular;
}

body {
  background-color: #201b2c;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background: #2f2841;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
  font-family: DanaBold;
  color: #05ea81;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #514869;
  border-radius: 5px;
  background-color: #514869;
  caret-color: rgb(198, 198, 198);
  color: rgb(198, 198, 198);
}

input:focus {
  outline: none;
  border: 1.5px solid #05ea81;
}

input::placeholder {
  float: right;
  color: rgb(198, 198, 198);
}

button {
  padding: 10px;
  background-color: #05ea81;
  color: #514869;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: DanaBold;
}

button:hover, button:focus {
  outline: none;
  background-color: #514869;
  color: rgb(198, 198, 198);
}

p {
  text-align: center;
  margin-top: 15px;
  color: rgb(198, 198, 198);
}

a.enter {
  color: #05ea81;
  /* font-weight: bold; */
  margin-right: 10px;
  font-family: DanaBold;
}